/*FONTS END here*/
body,
html {
    background: #1d1b21;
}

.mb-0 {
    margin-bottom: 0;
}

.btn.btn-primary {
    background-color: #4d7ce8;
    border-color: #3d6edd;
    /* text-transform: lowercase !important;*/
}

.tab .tab-item.active a,
.tab .tab-item a.active {
    border-bottom-color: #4d7ce8;
}

.form-checkbox input:checked + .form-icon,
.form-radio input:checked + .form-icon {
    background-color: #4d7ce8;
    border-color: #3d6edd;
}
.player-keys .menu {
    bottom: 100%;
    top: auto;
    width: 320px;
    height: 315px;
    margin-bottom: 32px;
}



#nav ul li a:focus:after {
    opacity: 0;
}

#nav ul li a:hover:after {
    opacity: 1;
}

@media (hover: none) and (pointer: coarse) {
    #nav ul li a:hover:after {
        opacity: 0;
    }

    #nav ul li a:active:after {
        opacity: 1;
    }
}

#nav ul li a:focus [class^=icon-],
#nav ul li a:hover [class^=icon-],
#nav ul li a.menu-active [class^=icon-] {
    opacity: 1;
    color: #e6e6e6;
}

.album-details .album-head:not(.table-toggle) .table-cell:not(.cell-last) {
    vertical-align: middle;
}

.music-list .album-details .table-cell {
    /*    height: 40px;*/
    vertical-align: top;
    vertical-align: middle;
    min-height: 40px;
}

.header .shortcuts ~ .menu .shortcuts-title {
    font-size: 14px;
}

.music-list .album-details .actions li a {
    -webkit-transition: color 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: color 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: none;
    transform: none;
}

.music-list .album-details .actions li a.zip-pause {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    position: relative;
    top: -1px;
    /* left: -2px; */
}

.music-list .album-details .actions li a:hover {
    color: #3b49af;
}

.music-list .album-details .table-row:hover .actions li a.playme {
    color: #fff !important;
}

.music-list .album-details .table-row:hover .c-title .releaseName,
.music-list .album-details .table-row:hover .album-title {
    color: #fff;
}

.music-list .album-details .actions {
    vertical-align: middle;
}

.music-list .table-head .album-image:before {
    display: none;
}

.music-list .album-image > div {
    position: relative;
    background-size: cover;
}

.filterBox {
    position: relative;
    background: #1b1c1e;
    border: 0;
    /*    padding-left: 93px;*/
}

.filterBox.v-basic {
    padding: 0;
    background: transparent;
}

.content-head.chartcontent .filterBox.v-basic {
    margin: 0;
}

.filterBox .tab {
    position: static;
}

.filterBox .search-list button {
    font-size: 12px;
}

.filterBox li.genre-list {
    padding: 7px;
}

.genre-list .dropdown .menu {
    margin-top: -5px;
}



.app .vbox > footer {
    min-height: 78px;
    max-height: 78px;
}

@media (max-width: 767px) {
    .app .vbox > footer {
        min-height: 65px;
    }
}
.filterBox li {
    margin: 0;
    position: relative;
}

/*Label page*/

/*PLayer queue*/

#player-queue .menu-artist-info .the-artist em {
    display: block;
    font-size: 1rem;
    font-style: normal;
}

#player-queue #player-menu-list .menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 45px;
    max-height: 45px;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    background-color: #1c1e23;
}

#player-queue #player-menu-list .menu-item:not(:last-child) {
    margin-bottom: 5px;
}

#player-queue #player-menu-list .menu-item .the-artist {
    color: #bcbcbc;
}

#player-queue #player-menu-list .menu-item.active {
    background-color: #2c303b;
}

#player-queue #player-menu-list .menu-item:hover {
    background: #2c303b;
}

#player-queue #player-menu-list .menu-item .playlist-action a {
    color: #4d7ce8 !important;
}

#player-queue #player-menu-list .menu-item .playlist-action a:hover {
    text-decoration: none;
}

#player-queue #player-menu-list .menu-item.playlist-bg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: none;
}

#player-queue #player-menu-list .menu-item > a {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: calc(100% - 20px);
}

#player-queue #player-menu-list .menu-item > a:hover {
    text-decoration: none;
}

#player-queue #player-menu-list .menu-item .queue_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 45px;
}

#player-queue #player-menu-list .menu-item > a .menu-item-thumb-con {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0px;
    left: 0;
}

#player-queue #player-menu-list .menu-item > a .menu-item-thumb-con .menu-item-thumb {
    position: relative;
}


#player-queue #player-menu-list .menu-item .menu-item-action-con .playme {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

#player-queue #player-menu-list .menu-item .menu-artist-info {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: calc(100% - 40px);
}

#player-queue #player-menu-list .menu-item .menu-artist-info > span {
    top: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
}

#player-queue #player-menu-list .menu-item .menu-artist-info .the-artist {
    width: 30%;
}

#player-queue #player-menu-list .menu-item .menu-artist-info .the-name {
    width: 15%;
    text-align: center;
}

#player-queue #player-menu-list .menu-item .menu-artist-info .the-genre {
    width: 25%;
    text-align: center;
}

#player-queue #player-menu-list .menu-item .menu-artist-info .the-timeduration,
#player-queue #player-menu-list .menu-item .menu-artist-info .the-ratting,
#player-queue #player-menu-list .menu-item .menu-artist-info .the-bpm {
    width: 10%;
    text-align: center;
}

#player-queue #player-menu-list .menu-item:hover > a .menu-item-thumb-con .menu-item-thumb:before {
    opacity: 1;
}

#player-queue #player-menu-list .menu-item:hover > a .menu-item-thumb-con .menu-item-thumb:after {
    opacity: 1;
}


/*table stles temporary*/

.header .nav-left ul li a {
    font-weight: 600;
    letter-spacing: 0.03em;
    color: #b7b7b7;
    border: 0;
}

.filterBox.v1 .tab .search-releases{
    padding: 0px!important;
    cursor: unset;
    border-bottom: none;
}

.filterBox .tab .tab-item a {
    color: #adadad;
}

.filterBox .tab .tab-item:not(.active) a:hover {
    color: #3b49af;
}

.filterBox .tab .tab-item.active a {
    color: #ffffff;
    border-bottom: 3px solid #4d7ce8;
}

.filterBox.inside {
    padding: 0;
}

.filterBox.v1 {
    padding: 0;
    margin: 0;
    background: #25262a;
}

.filterBox.v1 .tab {
    margin: 0;
    overflow: hidden;
}

.filterBox.v1 .tab .tab-item {
    margin: 0;
    background: #1c1e23;
    padding: 0px 4px 0px 0px;
}

.filterBox.v1 .tab .tab-item a {
    /*border: 0; Commented by Pratiksha for bottom border effect on tabs*/
    padding: 15px 20px;
    background: #25262a;
    position: relative;
}

@media (max-width: 767px) {
    .filterBox.v1 .tab .tab-item a {
        padding: 15px 8px;
    }
}


.filterBox.v1 .tab .tab-item.active:before,
.filterBox.v1 .tab .tab-item.active:after {
    content: '';
    width: 5px;
    height: 5px;
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-size: 100%;
    border-radius: 0;
}

.filterBox.v1 .tab .tab-item.active:before {
    left: -5px;
    bottom: -1px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAM1BMVEUAAAAcHiMcHiMcHiMcHiMcHiMcHiMcHiMcHiMcHiMcHiMcHiMcHiMcHiMcHiMcHiMcHiNjJ8iVAAAAEHRSTlMA8ZmJspExKQbm4+LZPhoTj68bsQAAAEVJREFUGNNdy8kNwDAMA0FH8pV7+682eRkS98cBWKSh4LKfTaCR90TAyJeOwClQyWBkMBLMSoL7IsLbIMBwQqX7/vvq+ABCCgQ0QHPbSgAAAABJRU5ErkJggg==');
    background-position: right bottom;
}

.filterBox.v1 .tab .tab-item.active:after {
    right: -5px;
    bottom: -1px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAM1BMVEUAAAAcHiMcHiMcHiMcHiMcHiMcHiMcHiMcHiMcHiMcHiMcHiMcHiMcHiMcHiMcHiMcHiNjJ8iVAAAAEHRSTlMA8eSZiS6ykQb97Nk9JxoTOe8LWwAAAEJJREFUGNNdzrcRgDAAwEBnm6z9p+Wg4LBUfqVwBFUM6ymgG5YxQyQbqIZkoBnIBrKBNgRsuwD69QK/ynOU4hekUm9lLwQs3KQ7vAAAAABJRU5ErkJggg==');
    background-position: left bottom;
}

.filterBox.v1 .tab .tab-item.active {
    position: relative;
}

.filterBox.v1 .tab .tab-item.active a {
    background: #1c1e23;
}


.filterBox.v1 + .v-basic .tab {
    margin: 12px 0;
}

.music-list .album-details .table-row {
    -webkit-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
}

body:not(.navOpen) #nav ul li a.menu-active:before {
    content: '';
    background: #282d40;
    left: -15px;
    -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, .3);
    box-shadow: 1px 0 5px rgba(0, 0, 0, .3);
    position: absolute;
    width: 56px;
    height: calc(100% + 20px);
    top: -10px;
}

#nav .tooltip.tooltip-right:after {
    background: #2c303b;
}

#nav ul li a.menu-active [class^=icon-] {
    opacity: 1;
}

/* #nav ul li a:focus::after{
    display: none !important;
}
#nav ul li a.menu-active:hover::after{
    display: block !important;
}  */

.vbox > header ~ section {
    /*overflow-x: hidden;
    overflow-y: scroll;*/
    -webkit-transition: bottom 0.5s ease-in-out;
    transition: bottom 0.5s ease-in-out;
}

html.no-release .vbox > header ~ section {
    bottom: 0;
}

.footer {
    -webkit-transition: max-height 0.5s ease-in-out, min-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out, min-height 0.5s ease-in-out;
}

html.no-release .footer {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    padding: 0;
}

.genre-list i {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    max-height: 20px;
    float: right;
    color: #ffffff;
    margin-top: -2px;
}

.genre-list .btn {
    text-transform: capitalize;
}

.genre-list .zip-angle-down:before {
    color: #7685b3!important;
}

.release-view .filterBox .genre-list.expand, .track-view .filterBox .genre-list.expand {
    -ms-flex-positive: 0;
    flex-grow: 0;
    margin-right: auto;
}

.btns-on-menu {
    left: 0;
    right: 150px;
    margin: 0 auto;
    display: block;
    text-align: center;
    position: absolute;
    z-index: -1;
}

body .btns-on-menu.zd-btns-on-menu {
    z-index: unset;
}
body .zd-genre-list-menu {
    z-index: 2;
}

.btns-on-menu.hidden {
    display: none;
}

@media (max-width: 960px) {
    .btns-on-menu {
        display: none;
    }
}

.btns-on-menu .btn {
    padding-top: 4px;
    margin-left: 7px;
    width: 60px;
    background-color: #27282d;
    color: #7685b3;
    border-color: #7685b3;
    height: 1.7rem;
    font-size: 11px;
    letter-spacing: .05em;
    line-height: 4px;
}

.btns-on-menu .btn:hover {
    background-color: #25262a;
    border-color: #7685b3;
    color: #7685b3;

}

.btns-on-menu .btn:active {
    background-color: #25262a;
    border-color: #27282d;
    color: #9ac2ff;
}

.btns-on-menu .btn.active {
    background-color: #25262a;
    border-color: #27282d;
    color: #9ac2ff;
    font-weight: bold;
}

@media (max-width: 1200px) {
    .btns-on-menu {
        right: 400px;
    }
}


.genre-list .filter-toggle.genre_title {
    font-weight: 900!important;
    color: #adadad;
    background: #2a3043;
    color: #507de5;
    line-height: 2rem!important;
}


.genre-list > .dropdown {
    border: 0;
    border-radius: 3px;
    position: relative;
    min-width: 130px;
    background: #25262a;
}

.genre-list > .dropdown > .btn {
    width: 100%;
    font-weight: normal;
    line-height: 2rem;
}

.genre-list > .dropdown > .menu ul {
    padding-top: 10px;
    padding-bottom: 5px;
}

.genre-list > .dropdown a {
    line-height: normal;
}

.genre-list > .dropdown.gnere_dropdown .menu {
    min-width: 300px;
}

.genre-list > .dropdown.gnere_dropdown .menu {
    min-width: 360px;
    font-size: 1.01rem;
    max-height: calc(100vh - 177px);
}

.genre-list > .dropdown.chart-country-wrap {
    background: transparent;
    height: auto !important;
    min-width: unset;
}

.genre-list > .dropdown.chart-country-wrap #chart_country_filter {
    padding-right: 7px;
}

.content-head.chartcontent .filterBox.v-basic .chart-updated-date {
    color: #adadad;
    margin: 0;
}

@media (max-width: 960px) {
    .content-head.chartcontent .filterBox.v-basic .genre-list {
        padding: 0;
        margin: 0;
    }

    .genre-list > .dropdown.chart-country-wrap {
        margin-left: 2px;
    }
}

@media (max-width: 767px) {
    .genre-list > .dropdown.gnere_dropdown .menu {
        max-height: 60vh;
    }

    .content-head.chartcontent .filterBox.v-basic li {
        margin: 0;
    }

    .content-head.chartcontent .filterBox.v-basic .genre-list {
        padding: 0;
        margin: 0;
    }

    .content-head.chartcontent .filterBox.v-basic .chart-updated-date {
        font-size: 11px;
    }
}

.genre-list > .dropdown.datelist_dropdown .menu {
    width: 100%;
    min-width: auto;
    max-width: 100%;
}

.genre-list > .dropdown .menu-head {
    padding: 0.25rem 0;
    text-transform: capitalize;
}

.genre-list > .dropdown {
    margin-left: 5px; /*10px*/
}

.genre-list .genre_title .icon {
    margin-left: 10px;
}


.genre-list .dropdown .menu {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    display: block;
    background: #27282d;
    max-height: 60vh;
    max-width: 300px;
    left: 0;
    right: auto;
    color: #ebebeb;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.genre-list .dropdown .menu .menu-head {
    margin: 0.5rem 0 1.5rem 0;
    margin: 0;
    text-transform: none;
}

.genre-list .dropdown .menu a {
    color: #ebebeb;
    color: #adadad;
    font-size: 100%;
    letter-spacing: 0.03em;
}

.genre-list .dropdown .menu a[rel~="House"] {
    text-transform: uppercase;
}

.genre-list .dropdown .menu .menu-head .genremenu {
    color: #ebebeb;
    color: #adadad;
}

.genre-list .dropdown .menu .columns {
    padding: .3rem;
    display: block;
}

.genre-list .dropdown .menu .columns .column {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.genre-list .dropdown .dropdown-toggle:focus + .menu {
    /*    max-height: 600px;*/
}

.genre-list .dropdown .menu ul {
    padding-left: 20px;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
}

.genre-list .dropdown .menu ul:before {
    content: '';
    position: absolute;
    left: 2px;
    top: 0;
    height: 100%;
    width: 2px;
    background: #424242;
}

.genre-list .dropdown .menu ul li {
    margin: 1rem 0;
    margin: 0.5rem 0;
}

.fiter-head {
    opacity: 0.5;
    width: 10px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: -1px;
}

.table-head .album-head .table-cell .sortme:hover {
    text-decoration: none;
    color: #4e5cbe;
}

.table-head .album-head .table-cell .sortme,
.table-head .album-head .table-cell .dropdown-toggle,
.table-head .album-head .table-cell .staticHead,
.table-head .album-head .table-cell .fixHead,
.table-head .album-head .table-cell .fixHead a {
    color: #dfdfdf;
    font-weight: 600;
}

.table-head .album-head .table-cell.c-position .staticHead span,
.table-head .album-head .table-cell.c-position .fixHead span {
    display: block;
    font-weight: normal;
    font-size: 10px;
}

.music-list .table-head .album-details .table-cell i,
.table-head .album-head .table-cell .sortme img {
    display: none;
}

.table-head .album-head .table-cell .artist-toggle {
    color: #dfdfdf;
    font-weight: 600;
}

.album-details .album-head .table-cell.c-genre,
.album-details .track-list .table-cell.c-genre {
    width: 200px;
}

.album-details .album-head .table-cell.c-time,
.album-details .track-list .table-cell.c-time {
    width: 50px;
}

.album-details .album-head .table-cell.c-rating,
.album-details .track-list .table-cell.c-rating {
    width: 65px;
}

.album-details .album-head .table-cell.c-position,
.album-details .track-list .table-cell.c-position {
    width: 180px;
}

.album-details .album-head .table-cell.c-bpm,
.album-details .track-list .table-cell.c-bpm {
    width: 50px;
}

.album-details .album-head .table-cell.c-tag,
.album-details .track-list .table-cell.c-tag {
    width: 180px;
    display: table-cell !important;
}

.album-details .album-head .table-cell.c-release,
.album-details .track-list .table-cell.c-release {
    width: 110px;
    width: 80px;
    width: 120px;
    /* text-align: center; */
}

.cell-last {
    text-align: left;
}

.radar-view .music-list .chart-list-content .container {
    width: 100%;
}

.album-details .album-head:not(.table-toggle) .table-cell:not(.cell-last) .btn {
    font-size: 100%;
}

.tab-content > div {
    width: 100% !important;
}


.music-list .table-row:hover .album-head,
.music-list .table-row:hover .track-list {
    background: #28292e;
}

.music-list .table-row .album-head:hover {
    background: #33343a;

}

.music-list thead .album-head:hover {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.dropdown .menu .menu-item > a {
    text-transform: capitalize;
    font-weight: normal;
    line-height: normal;
}

.c-bpm .menu-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.c-bpm .searchbpm {
    font-weight: normal;
    padding: 0.1rem 0.5rem !important;
}

.music-list .album-details .table-row {
    /*    line-height: normal;*/
}

.music-list .album-details .table-row .trackPosition {
    display: table;
    /* margin: 0 auto; */
}

.music-list .album-details .table-row .trackPosition span {
    padding: 0 5px;
    color: #fff;
}

.music-list .album-details .table-row .trackPosition span:first-child {
    padding-left: 0;
}

.music-list .album-details .table-row .trackPosition span:last-child {
    padding-right: 0;
}

.music-list .album-name {
    margin-top: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag-list > span {
    border: 1px solid #3c3c3c;
    padding: 1px 5px;
    margin-right: 5px;
}

.track-info-block .track-info-desc .album-title {
    font-size: 108%;
}

.track-info-block .track-info-desc .album-name:hover,
.track-info-block .track-info-desc .album-title:hover {
    color: #4d7ce8 !important;
}

#releaseDetails .album-title:hover {
    color: #fff !important;
}

/*#releaseDetails .album-title {
    overflow: visible;
}*/

#releaseDetails .album-title .icon-delete {
    color: #fff;
    /*margin-top: 3px;*/
    position: relative;
    cursor: pointer;
    margin-right: 5px;
}

.icon-delete {
    width: 16px;
    font-size: 135%;
}

.icon-delete::before {
    content: "\2715";
    padding-left: 1px;

}

#releaseDetails .album-title .icon-delete:after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    left: -50%;
    top: -50%;
    z-index: -1;
    border-radius: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#releaseDetails .album-title .icon-delete:hover:after {
    background: #717171;
}

#releaseDetails .album-title .icon-delete:hover {
    text-decoration: none;
}

/*@media only screen and (min-width: 1600px) {
    .search-blocks .card-wrap .card-block{
        width: 14.285%;
    }
}*/

@media only screen and (min-width: 1367px) {
    .header .nav-left ul li a {
        font-size: 12px;
        padding-bottom: 2px;
    }
}

@media only screen and (min-width: 1200px) {
    .radar-view .music-list > .columns > div:first-child {
        width: 30%;
    }

    .radar-view .music-list > .columns > div:last-child {
        width: 70%;
    }

    .search-blocks .card-wrap .card-block {
        max-width: 14.285%;
    }

    .c-artist {
        /*        width: 250px !important;*/
        /*width: 100% !important;*/
    }
}


@media only screen and (max-width: 1199px) {
}

@media only screen and (min-width: 1025px) and (max-width: 1199px) {
    .navbar .navbar-section .brand {
        max-width: 70%;
    }

    .navbar .navbar-section .brand img {
        max-width: 100%;
    }

    .page header .mainNav li {
        padding: 0 8px;
    }

    .page header .mainNav li a {
        font-size: 95%;
    }
}

@media only screen and (min-width: 1025px) {
    .page header .mainNav li .dropdown .menu li {
        display: block;
    }

    .page header .mainNav li:last-child .dropdown .menu {
        left: auto;
        right: 0;
        min-width: 10rem;
        text-align: right;
    }

    .page header .mainNav li .dropdown a {
        padding-left: 0;
        padding-right: 0;
    }
}


@media only screen and (min-width: 991px) {
    .filterBox {
        padding-left: 93px;
    }
}

@media only screen and (min-width: 961px) {
    .music-list .album-details .table-cell {
        height: 40px;
    }
}

@media only screen and (max-width: 960px) {
    .music-list .album-details .album-head.table-main .table-cell {
        height: auto;
    }

    .music-list .album-details .album-head.table-main .table-cell:last-child {
        height: 100%;
    }

    .menu.menu-horizontal {
        top: 25px !important;
    }

    .music-list .album-details {
        margin-bottom: 0;
    }


    #tab-trackview .music-list .track-list {
        padding-left: 35px !important;
    }


    .music-list .album-details .album-head.table-main .table-cell:first-child {
        padding-right: 40px;
        min-height: 48px;
    }

    .music-list .album-details .track-list.parent-row .table-cell:first-child {
        padding-left: 60px;
    }

    .music-list .album-details .detailpage .track-list.parent-row .table-cell:first-child {
        padding-left: 10px;
    }

    .music-list .album-details .album-head.table-main .table-cell:last-child .dropdown {
        border: 0;
    }

    .music-list .album-details .track-list .table-cell:last-child {
        padding-right: 57px;
        padding-right: 17px;
    }

    .music-list .album-image > div {
        max-width: 48px;
        max-height: 48px;
    }


    .music-list .table-head .table-cell {
        height: 0 !important;
    }

}

@media only screen and (max-width: 849px) {
    .header .nav-left .search-list {
        left: 0;
        width: 100%;
    }

    .header .nav-left .header-search-wrap {
        background: #202225;
    }

    .header .header-search-wrap .header-search {
        padding-left: 4px;
    }
}


@media only screen and (max-width: 480px) {
    .download-toggle {
        display: inline-block;
    }

    .vbox > header ~ section {
        bottom: 100px;
    }

    .app .vbox > footer {
        max-height: 100px;
    }

    .music-list {
        max-height: 100%;
    }


}

/*MEDIA QUERIES Styles*/


.app, .app body {
    overflow: visible;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
}

#nav {
    position: fixed;
    top: 60px;
    bottom: 0;
    z-index: 10;
    height: calc(100vh - 60px);
}

.navOpen #nav {
    overflow: hidden;
}

#sidebar-right {
    position: fixed;
    right: 0;
    top: 60px;
    bottom: 0;
    height: calc(100vh - 60px);
}


.content-head {
    right: 0;
    left: 56px;
    top: 60px;
    z-index: 999;
    padding-bottom: 48px;
}

.navOpen .content-head {
    left: 215px;
}

@media (max-width: 1366px) {
    .navOpen .content-head {
        left: 56px;
    }
}

#mainDiv.vbox {
    margin-left: 56px;
    background: #1d1b21;
    width: calc(100% - 56px);
    z-index: 1;
    position: relative;
    transition: all .2s ease-in-out;
}

#mainDiv.vbox .profile-view {
    position: relative;
    margin-top: -83px;
}

#mainDiv.vbox .profile-view .dashboard.profile {
    position: relative;
}

#mainDiv.vbox .profile-view .datetime-widget {
    flex-wrap: unset;
    /*width: 100%;*/
    max-width: 100%;
}


/*@media (max-width: 767px) {*/
/*    #mainDiv.vbox {*/
/*        z-index: 999;*/
/*    }*/
/*}*/

.downloadOpen #mainDiv.vbox {
    width: calc(100% - 306px);
}

.navOpen #mainDiv.vbox {
    width: calc(100% - 215px);
    margin-left: 215px;
}

.downloadOpen.navOpen #mainDiv.vbox {
    width: calc(100% - 465px);
}

@media only screen and (max-width: 1366px) {
    .navOpen #mainDiv.vbox {
        width: unset;
        margin-left: 56px;
    }

    .downloadOpen.navOpen #mainDiv.vbox {
        width: calc(100% - 306px);
    }
}


/*.app .vbox>footer, .app .vbox>section {*/
/*position: fixed;*/
/*}*/

#mainDiv.vbox .tableInner {
    /*overflow-x: auto !important;*/
    /*overflow-y: auto !important;*/
}

.app .vbox > footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

/* SCROLL UPDATE END */

/* MAIN STRUCTURE UPDATES START */
.zd-text-transform-none {
    text-transform: none;
}
.main-content-wrapper {
    padding-top: 116px;
    padding-bottom: 20px;
}

.main-content-wrapper.pt-58 {
    padding-top: 58px;
}

.main-content-wrapper.pt-46 {
    padding-top: 46px;
}

.main-content-wrapper.pt-56 {
    padding-top: 56px;
}

.main-content-wrapper.pt-0 {
    padding-top: 0;
}

.main-content-wrapper.t0 {
    top: unset;
}

.main-content-wrapper .label-page {
    position: relative;
    display: table;
}

@media (min-width: 768px) and (max-width: 960px) {
    .main-content-wrapper {
        padding-top: 83px;
    }

  
}

.filterBox.v-basic .tab .releaseview {
    float: left;
    display: block;
}

.filterBox.v-basic .tab .trackview {
    float: right;
    display: block;
}

@media only screen and (max-width: 960px) {
    /*.main-content-wrapper {
        padding-top: 83px;
    }*/
    .content-head .filterBox .pagination-tab#pagination-tab {
        display: none !important;
    }

    .filterBox.v-basic .tab {
        justify-content: space-between;
    }
}


@media only screen and (max-width: 550px) {

    .content-head .filterBox .pagination-tab#pagination-tab {
        /*width: 100%;*/
        display: none !important;
    }

    .music-list .album-details .track-list.parent-row .table-cell:first-child {
        padding-left: 11px;
    }

    .release-view .music-list .album-details .track-list .album-title {
        width: calc(100% - 100px);
    }
}

@media only screen and (max-width: 386px) {

    .content-head .filterBox.v-basic .genre-list {
        min-width: 110px;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }


    .content-head .filterBox.v-basic .genre-list .dropdown {
        margin-left: 0px;
        min-width: 110px;
    }

    .content-head .filterBox.v-basic .genre-list .dropdown-toggle {
        padding-left: 8px;
        padding-right: 0px;
    }

    .content-head .filterBox.v-basic .genre-list .dropdown-toggle i {
        margin-top: -5px;
        padding-left: 0px;
    }

    .content-head .filterBox.v-basic .releaseview {
        margin-right: 4px;
        margin-left: 4px;
    }

    .content-head .filterBox.v-basic .trackview {
        margin-right: 4px;
        margin-left: 0px;
    }
}

/* MAIN STRUCTURE UPDATES END */


html.sound-on #mainDiv {
    padding-bottom: 59px;
}

html.sound-on #mainDiv .genre-list > .dropdown.gnere_dropdown .menu {
    max-height: unset;
    height: calc(100vh - 250px);
    overflow-x: hidden;
    overflow-y: scroll;
}

html.sound-on #mainDiv .vbox .tabs{
    margin-bottom: 85px;
}

html.sound-on #mainDiv .dashboard.profile .columns{
    margin-bottom: 85px;
}

@media (max-width: 767px) {
    .con-controls .ap-controls-right .controls-volume,
    .con-controls .ap-controls-right .player-keys,
    .con-controls .ap-controls-right .play-controls .con-download,
    .con-controls .ap-controls-right .play-controls .con-playlist {
        display: none;
    }

}


/* ZipDJ SETS START */

.controls-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.controls-wrap.hidden {
    display: none;
}

.controls-wrap > span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.controls-wrap > span::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    -webkit-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
}

.controls-wrap > .slide-to-prev::before {
    border-width: 7px 12px 7px 0;
    border-color: transparent #373737 transparent transparent;
}

.controls-wrap > .slide-to-prev:hover::before {
    border-color: transparent #f2f3f4 transparent transparent;
}


.main-content-wrapper .vbox.release-without-head{
    margin-top: -50px;
}

.music-list .album-table .album-details .table-cell.c-label{
    overflow: hidden;
    text-overflow: ellipsis;
}

.music-list .album-table .album-details .table-cell.c-label span{
    white-space: nowrap;
}

.icon-remove::after {
    content: "\2715";
    padding-left: 1px;
   font-weight: bold;
}
.pt-48{
    padding-top: 48px;
}